<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/base.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <style>
           @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
           @import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
        </style>
    </head>
    
    
    
    <body>
        {{body}}
        <div id="topbar">
        <a href="/profile">Existing Profiles</a>
        <a href="/createprofile">Create Profiles</a>
        <a href="/guestbook">Guestbook</a>
        </div>
    </body>
</html>
