<!DOCTYPE html>

<html>
    <head>
        <title>Create profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/createprofile.css"/>
    </head>
    <body>
        <form action="/createprofile" method="post">
            <label for="name">Name</label>
            <br>
            <input id="name" type="text" name="name">
            <br><br>
            <label for="description">Description</label>
            <br>
            <input type="text" id="description" name="description">
            <br><br>
            <label for="profilepicture">Profile picture filename</label>
            <br>
            <input type="text" id="profilepicture" name="profilepicture">
            <br><br>
            <input type="submit">
        </form>
    </body>
</html>
